---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>


<button id="theme-toggle" title="切换黑夜/白天模式"
  style="position: fixed; top: 10px; right: 10px; z-index: 1000;
         background: none; border: none; font-size: 1.5rem; cursor: pointer;">
  🌓
</button>



    

    
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}



<script src="{{ '/assets/js/dark-mode.js' | relative_url }}"></script>



    
  </body>
</html>
